{% extends 'bones.html' %}

{% block title %}Help{% endblock %}

{% block main %}
    <div>
        <h1>Help</h1>
    </div>
    <div>
        <p>This page provide you some search example for your research in our database.</p>
    </div>
    <div>
      <h3>Search with one or more PDB ID</h3>
      <p> PDB ID examples : 4N2K 3RWN</p>
      <p> Note : Remember to separate this ID with space or line break</p>
    </div>
    <div>
      <h3>Search with keywords</h3>
      <p> keywords examples : hydrolase ligase</p>
      <p> Note : Remember to separate this keywords with space or line break</p>
    </div>

{% endblock %}
