{% extends 'bones.html' %}

{% block title %}References{% endblock %}

{% block main %}
    <div>
        <h1>References</h1>
    </div>
    <div>
      <ul>
          <li><a href="http://en.wikipedia.org/wiki/Polyproline_helix"> Wikipedia article : Polyproline Helix</a></li>

          <li><a href="http://onlinelibrary.wiley.com/doi/10.1002/bip.1968.360061006/full">Stereochemical criteria for polypeptides and proteins. V. Conformation of a system of three linked peptide units.</a><br /> Venkatachalam CM (1968) - Biopolymers 6: 1425-1436</li>

          <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/7020376">The anatomy and taxonomy of protein structure.</a><br /> Richardson JS (1981) - Adv Protein Chem 34:167-339.</li>

          <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/643051">Prediction of chain turns in globular proteins on a hydrophobic basis.</a><br /> Rose GD (1978) - Nature 272:586-590.</li>

          <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/16446433">Polyproline II conformation is one of many local conformational states and is not an overall conformation of unfolded peptides and proteins.</a><br /> Makowska J, Rodziewicz-Motowidlo S, Baginska K, Vila JA, Liwo A, et al. (2006) - Proc Natl Acad Sci U S A 103: 1744-1749.</li>

          <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/14834150">The structure of fibrous proteins of the collagen-gelatin group.</a><br /> Pauling L, Corey RB (1951) - Proc Natl Acad Sci U S A 37: 272-281.</li>

          <li><a href="http://pubs.rsc.org/en/Content/ArticleLanding/1958/DF/df9582500173#!divAbstract">The polypeptide chain configuration of collagen.</a><br /> Cowan PM, McGavin S, North AC (1955) - Nature 176: 1062-1064.</li>
      </ul>
    </div>

{% endblock %}
